@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0.7rem;
}

h2 {
    margin: 0.7rem;
}

p {
    margin: 0.7rem;
}

table {
    background-color: rgb(171, 221, 236);
    border-collapse: collapse;
    border-radius: 10px;
    margin: 0.7rem;

    td, th {
        padding: .5rem;
        border: solid 1px white;
    }
}

hr {
    margin: 1rem 0;
}

form {
    margin: 0.7rem;
}

.form-wrapper {
    font-size: 18px;
    max-width: 768px;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 15px;
    box-shadow: 3px 2px 6px lightgrey;
}

label, input {
    margin-top: 5px;
    display: block;
    font-size: inherit;
}

input[type="text"], input[type="email"] {
    background-color: rgb(171, 221, 236);
    padding: .25rem;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: rgb(171, 221, 236);
    border: none;
    border-radius: 5px;
    padding: .5rem 1rem;
    margin-top: 10px;
}